:root {
  --fontirs: irs;
  --fontbahman: bahman;
  --fontlale: lale;
  --fontaviny: aviny;
  --color1: #04aa6d;
  --color2: #6528e0;
  --color3: rgb(7 112 112);
  --color4: rgb(23, 240, 23);
  --color5: #0c0025;
  --color6: rgb(1, 1, 54);
  --color7: #171615;
  --color8: #1d1615;
  --color9: #20211a;
  --color10: #141514;
  --color11: #0f0616;
  --color12: #292827;
  --glasswhite: rgba(255, 255, 255, 0.5);
  --whiteneon: rgba(255, 255, 255, 0.9);
  --bg-light: #eee;
  --bg-dark: #444;
  --bg-dark-2: #151515;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: irs;
  src: url(IRANSansWeb_Bold.ttf);
}

@font-face {
  font-family: lale;
  src: url(Lalezar-Regular.ttf);
}

@font-face {
  font-family: bahman;
  src: url(Bahman\ 1.ttf);
}

@font-face {
  font-family: aviny;
  src: url(aviny.ttf);
}
* {
  box-sizing: border-box;
  text-align: center;
  /* margin: 20px auto !important; */
}
body {
  overflow-x: hidden;
  color: white;
  /* transition: background-color 1s; */
  /* background: var(--bg-dark-2); */
  /* user-select: none; */
  display: flex;
  height: 100vh;
  flex-direction: row;
  background: #ffa07a;
  flex-wrap: wrap;
}

.product-deatails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  /* margin: 50px auto; */
  margin: 50px auto !important;
}
.img-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 70%;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px auto !important;
    transition: transform 2s;
    border-radius: 10px;
  }  
  .img-style:hover{
    filter: grayscale(30%);
    transform: scale(1.1);
    cursor: pointer;
  }
.price {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 296px;
  font-weight: bold;
}
.h-style {
  color: black;
  font-size: 20px;
}

div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin : 10px -11px !important;
  transition: transform 1s;
}

#categoryha{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 2%;
}
.buyed{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  /* margin: 50px auto; */
  margin: 10px -10px !important;
}